<div class="container-fluid h-100 ">
  <div class="row justify-content-center align-items-center">

    <div id="page" class="col-md-6">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Customer id</th>
          <th>Worker id</th>
          <th>Tarif</th>
        </tr>
        <tr *ngFor="let contract of listContract" [class.selected]="contract === selectedContract" style="cursor: pointer"  data-toggle="modal" data-target="#modalLoginForm"  data-backdrop="static"
          (click)="onSelect(contract)">
          <td> {{contract.id}} </td>
          <td> {{contract.customerId}} </td>
          <td> {{contract.workerId}}</td>
          <td> {{contract.tarif}}</td>
        </tr>
      </table>
    </div>

    <div *ngIf="selectedContract" >
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Contract's details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="defaultForm-id">Id</label>
                  <input type="text" id="defaultForm-id" class="form-control validate"  [value]="selectedContract.id" (input)="selectedContract.id=$event.target.value" readonly >
                </div>
        
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="defaultForm-customerId">Customer id</label>
                  <input type="text" id="defaultForm-customerId" class="form-control validate" [value]="selectedContract.customerId" (input)="selectedContract.customerId=$event.target.value" >
                </div>
        
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="defaultForm-workerId">Worker id</label>
                    <input type="text" id="defaultForm-workerId" class="form-control validate" [value]="selectedContract.workerId" (input)="selectedContract.workerId=$event.target.value">
                  
                  </div>
                  <div class="md-form mb-4">
                      <label data-error="wrong" data-success="right" for="defaultForm-tarif">Tarif</label>
                      <input type="text" id="defaultForm-tarif" class="form-control validate" [value]="selectedContract.tarif" (input)="selectedContract.tarif=$event.target.value">
                    
                    </div>
                   
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-info" (click)="onClickEdit()"  data-dismiss="modal">Edit</button>
                <button class="btn btn-danger" (click)="onClickDelete()" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
          </div>
    </div>



  </div>
</div>
  