<!--
<div class="row">
  <div class="col-md-5">     
    <ul  class="list-group">
            <a  class="list-group-item clearfix" 
                style="cursor: pointer" 
              *ngFor="let user of users"
              [class.selected]="user === selectedUser"
              (click)="onSelect(user)">
                <div >
                  <h4 class="list-group-item-heading">{{user.name}} {{ user.lastName }} </h4>
                </div>
              </a>
     </ul>
    </div>
      <div *ngIf="selectedUser"> 
        <div class="container">
              <label>Selected user:</label>
              <div class="col-md-12">
                <div class="row">
                          <input type="text"  class="form-control"  
                          value={{selectedUser.name}}/> 
                              <input type="text"   class="form-control" 
                               value={{selectedUser.lastName}}/> 
                              <div class="row">
                                <div><button  class="btn btn-success"  (click)= "onClickEdit()"> Edit user</button>
                                </div>
                                <button  class="btn btn-danger"  (click)="onClickDelete()">Delete</button>
                              </div>
                  </div>
                </div>
         </div>
       </div>
</div>

-->

 
<table class="table table-hover">
    <tr  *ngFor="let user of users">
      <td (click)="populateForm(user)">{{user.name}} </td>
      <td (click)="populateForm(user)">{{user.lastName}}</td>
      <td (click)="populateForm(user)">{{user.id}}</td>
      <td><button (click)="onDelete(contract.custumerId)" class="btn btn-sm btn-outline-danger">X</button></td>
      <td><button (click)="onDelete(contract.custumerId)" class="btn btn-sm btn-outline-danger"  > edit</button></td>

    </tr>
  </table>





        
