<div class="container">
  <div class="form1 col-md-6 offset-md-3">

    <form [formGroup]="this.simCardService.form" #simcardForm="ngForm" (submit)="onSubmit(simcardForm)">
      <div class="form-group">
        <div class="col-md-12">
          <input formControlName="imsi" name="imsi" class="form-control" placeholder="Imsi" [ngClass]="{'is-invalid':submitted && formControls.imsi.errors}"
            pattern='[0-9]*'>
          <div class="invalid-feedback" *ngIf="submitted && formControls.imsi.errors ">
            <label *ngIf="formControls.imsi.errors.required">This field is required </label>
            <label *ngIf="formControls.imsi.errors.pattern">This field is required numbers only</label>
          </div>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input formControlName="iccid" name="iccid" class="form-control" placeholder="Iccid" [ngClass]="{'is-invalid':submitted && formControls.iccid.errors}"
            pattern='[0-9]*'>
          <div class="invalid-feedback" *ngIf="submitted && formControls.iccid.errors ">
            <label *ngIf="formControls.iccid.errors.required">This field is required </label>
            <label *ngIf="formControls.iccid.errors.pattern">This field is required numbers only</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group col-md-12">
          <input formControlName="pin" class="form-control" name="pin" placeholder="Pin" [ngClass]="{'is-invalid':submitted && formControls.pin.errors}"
            pattern='[0-9]*'>
          <div class="invalid-feedback" *ngIf="submitted && formControls.pin.errors ">
            <label *ngIf="formControls.pin.errors.required">This field is required </label>
            <label *ngIf="formControls.pin.errors.pattern">This field is required numbers only</label>
            <label *ngIf="formControls.pin.errors.minlength">This field is required 4 numbers</label>
            <label *ngIf="formControls.pin.errors.maxlength">This field is required 4 numbers</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group col-md-12">
          <input formControlName="puk" class="form-control" name="puk" placeholder="Puk" [ngClass]="{'is-invalid':submitted && formControls.puk.errors}"
            pattern='[0-9]*'>
          <div class="invalid-feedback" *ngIf="submitted && formControls.puk.errors ">
            <label *ngIf="formControls.puk.errors.required">This field is required </label>
            <label *ngIf="formControls.puk.errors.pattern">This field is required numbers only</label>
            <label *ngIf="formControls.puk.errors.minlength">This field is required 4 numbers</label>
            <label *ngIf="formControls.puk.errors.maxlength">This field is required 4 numbers</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <button id="save" type="submit" class="btn btn-lg btn-block btn-info">
            <i class="fa fa-floppy-o"> Submit</i>
          </button>
        </div>
        <div class="form-group col-md-6">
          <button class="btn btn-lg btn-block btn-secendery" type="reset">
            <i class="fa fa-repeat" routerLink='/Worker'> Discard</i>
          </button>
        </div>
      </div>

    </form>
  </div>
</div>