<div class="row">
  <div class="col-md-6">
   
    <form [formGroup]="this.userService.form" #userForm= "ngForm" (submit)="onSubmit(userForm)">
      <div class="form-group">
          <div class="col-md-6">
        <input formControlName="fullName"  placeholder="FirstName"class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
          This field is required.</div>
      </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
        <input formControlName="lastname" class="form-control" placeholder="LastName" [ngClass]="{'is-invalid':submitted && formControls.lastname.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.lastname.errors">
          This field is required.</div>
      </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
        <input formControlName="id" placeholder="Id" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.id.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.id.errors">
          This field is required.</div>
      </div>
      </div>
     
      <div class="form-row">
       <div class="form-group col-md-3">
       <button  type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"> Submit</i>
      </button>
      </div>
      <div class="form-group col-md-3">
        <button class="btn btn-lg btn-block btn-secendery" type="reset"> 
            <i class="fa fa-repeat" > Reset</i>
        </button>
      </div>
      </div>
</form>
 </div>
 </div>
