<br />
<br />
<div class="container-fluid h-100 ">
  <div id="form" class="row justify-content-center align-items-center">

    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last name</th>
        </tr>
        <tr *ngFor="let user of users" [class.selected]="user === selectedUser" style="cursor: pointer" (click)="onSelect(user)"
          data-toggle="modal" data-target="#modalLoginForm" data-backdrop="static">
          <td> {{user.id}} </td>
          <td> {{user.name}} </td>
          <td> {{user.lastName}}</td>
        </tr>
      </table>
    </div>

    <div id="selected" *ngIf="selectedUser">
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">User's details</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="defaultForm-id">Id</label>
                <input type="text" id="defaultForm-id" class="form-control validate" [value]="selectedUser.id" (input)="selectedUser.id=$event.target.value"
                  readonly>
              </div>

              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="defaultForm-name">Name</label>
                <input type="text" id="defaultForm-name" class="form-control validate" [value]="selectedUser.name"
                  (input)="selectedUser.name=$event.target.value">
              </div>

              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="defaultForm-lastName">Last name</label>
                <input type="text" id="defaultForm-lastName" class="form-control validate" [value]="selectedUser.lastName"
                  (input)="selectedUser.lastName=$event.target.value">
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button id="editUser" class="btn btn-info" (click)="onClickEdit()" data-dismiss="modal">Edit</button>
              <button id="deleteUser" class="btn btn-danger" (click)="onClickDelete()" data-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>