

      <table class="table table-hover">
          <thead>
              <th>id </th>
              <th>status</th>
              <th>cc</th>
              <th>ndc</th>
              <th>sn</th>
            </thead>
          <tr  *ngFor="let number of numbers">
            <td (click)="populateForm(number)">{{number.id}} </td>
            <td (click)="populateForm(number)">{{number.status}}</td>
            <td (click)="populateForm(number)">{{number.cc}}</td>
            <td (click)="populateForm(number)">{{number.ndc}}</td>
            <td (click)="populateForm(number)">{{number.sn}}</td>
            <td><button (click)="onDelete(contract.custumerId)" class="btn btn-sm btn-outline-danger">X</button></td>
            <td><button (click)="onDelete(contract.custumerId)" class="btn btn-sm btn-outline-danger"  > edit</button></td>
          </tr>
        </table>
      