<div class="row">
  <div class="col-md-6">

    <form [formGroup]="this.simCardService.form" #simcardForm="ngForm" (submit)="onSubmit(simcardForm)">
      <div class="form-group">
        <div class="col-md-6">
          <input formControlName="imsi" class="form-control" placeholder="Imsi" [ngClass]="{'is-invalid':submitted && formControls.imsi.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.imsi.errors ">This Filed is Requaired.</div>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-6">
          <input formControlName="iccid" class="form-control" placeholder="Iccid" [ngClass]="{'is-invalid':submitted && formControls.iccid.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.iccid.errors ">This Filed is Requaired</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group col-md-6">
          <input formControlName="pin" class="form-control" placeholder="pin" [ngClass]="{'is-invalid':submitted && formControls.pin.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.pin.errors ">This Filed is Requaired</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group col-md-6">
          <input formControlName="puk" class="form-control" placeholder="puk" [ngClass]="{'is-invalid':submitted && formControls.puk.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.puk.errors ">This Filed is Requaired</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-lg btn-block btn-info">
            <i class="fa fa-floppy-o"> Submit</i>
          </button>
        </div>

        <div class="form-group col-md-3">
          <button class="btn btn-lg btn-block btn-secendery" type="Reset">
            <i class="fa fa-repeat"> Reset</i>
          </button>

        </div>
      </div>

    </form>
  </div>
</div>



<!--
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.simCardService.form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Imsi</label>
        <input formControlName="imsi" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.imsi.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.imsi.errors">
          This field is required.</div>
      </div>

      <div class="form-group">
        <label>Iccid</label>
        <input formControlName="iccid" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.iccid.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.iccid.errors">
          This field is required.</div>
      </div>

      <div class="form-group">
        <label>Pin</label>
        <input formControlName="pin" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.pin.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.pin.errors">
          This field is required.</div>
      </div>

      <div class="form-group">
        <label>Puk</label>
        <input formControlName="puk" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.puk.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.puk.errors">
          This field is required.</div>
      </div>
     
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" >
      </div>
    </form>
    <div class="alert alert-info"  *ngIf="showSuccessMessage">
      Submitted successfully.
    </div>
  </div>
</div>
-->