<div class="container-fluid h-100 ">
  <div class="row justify-content-center align-items-center">

    <div id="page" class="col-md-6">
      <table class="table table-striped">
        <tr>
          <th>Imsi</th>
          <th>Iccid</th>
          <th>Pin</th>
          <th>Puk</th>
        </tr>
        <tr *ngFor="let card of cards" [class.selected]="card === selectedCard" style="cursor: pointer" (click)="onSelect(card)" data-toggle="modal" data-target="#modalLoginForm"  data-backdrop="static"> 
          <td> {{card.imsi}} </td>
          <td> {{card.iccid}} </td>
          <td> {{card.pin}}</td>
          <td> {{card.puk}}</td>
        </tr>
      </table>
    </div>

    <div *ngIf="selectedCard" >
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Simcard's details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="defaultForm-imsi">Imsi</label>
                  <input type="text" id="defaultForm-imsi" class="form-control validate"  [value]="selectedCard.imsi" (input)="selectedCard.imsi=$event.target.value" readonly >
                </div>
        
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="defaultForm-iccid">Iccid</label>
                  <input type="text" id="defaultForm-iccid" class="form-control validate" [value]="selectedCard.iccid" (input)="selectedCard.iccid=$event.target.value">
                </div>
        
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="defaultForm-pin">Pin</label>
                    <input type="text" id="defaultForm-pin" class="form-control validate" [value]="selectedCard.pin" (input)="selectedCard.pin=$event.target.value">
                  
                  </div>
                  <div class="md-form mb-4">
                      <label data-error="wrong" data-success="right" for="defaultForm-puk">Puk</label>
                      <input type="text" id="defaultForm-puk" class="form-control validate" [value]="selectedCard.puk" (input)="selectedCard.puk=$event.target.value">
                    
                    </div>
                   
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-info" (click)="onClickUpdate()"  data-dismiss="modal">Edit</button>
                <button class="btn btn-danger" (click)="onClickDelete()" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>






  </div>
</div>