<div class="container-fluid h-100 ">
    <div class="row justify-content-center align-items-center">

        <div id="page" class="col-md-6">
            <table class="table table-striped">
        <tr>
          <th>id</th>
          <th>status</th>
          <th>cc</th>
          <th>ndc</th>
          <th>sn</th>
        </tr>
        <tr *ngFor="let number of listNumbers" [class.selected]="number === selectedNumber" style="cursor: pointer"  data-toggle="modal" data-target="#modalLoginForm"  data-backdrop="static"
          (click)="onSelect(number)">
          <td> {{number.id}} </td>
          <td> {{number.status}} </td>
          <td> {{number.cc}}</td>
          <td> {{number.ndc}}</td>
          <td> {{number.sn}}</td>
        </tr>
      </table>
    </div>


    <div *ngIf="selectedNumber" >
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Selected number</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="defaultForm-id">Number id</label>
                  <input type="text" id="defaultForm-id" class="form-control validate" [value]="selectedNumber.id" (input)="selectedNumber.id=$event.target.value"  readonly>
                </div>
        
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="defaultForm-status">status</label>
                  <input type="text" id="defaultForm-status" class="form-control validate" [value]="selectedNumber.status" (input)="selectedNumber.status=$event.target.value">
                </div>
        
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="defaultForm-cc">Cc</label>
                    <input type="text" id="defaultForm-cc" class="form-control validate" [value]="selectedNumber.cc" (input)="selectedNumber.cc=$event.target.value">
                  
                  </div>
                  <div class="md-form mb-4">
                      <label data-error="wrong" data-success="right" for="defaultForm-ndc">ndc</label>
                      <input type="text" id="defaultForm-ndc" class="form-control validate" [value]="selectedNumber.ndc" (input)="selectedNumber.ndc=$event.target.value">
                    
                    </div>
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="defaultForm-sn">Sn</label>
                        <input type="text" id="defaultForm-sn" class="form-control validate" [value]="selectedNumber.sn" (input)="selectedNumber.sn=$event.target.value">
                      
                      </div>
          
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-info" (click)="onClickEdit()"  data-dismiss="modal">Edit</button>
                <button class="btn btn-danger" (click)="onClickDelete()" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>



    


        </div>
      </div>
   